.orderList{
    flex: 4;
}
.orderTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .orderTitle{
      padding-left: 5px;
  }

  .viewicon{
    font-size: 16px !important;
    margin-right: 5px;
  }

  .orderListEdit{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
  }