.employee{
    flex: 4;
}
.employeeTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .employeeTitle{
      padding-left: 5px;
  }
  .employeeAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .employeeListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.employeeListDelete{
    color: red;
    cursor: pointer;
}