.viewProduct{
    flex: 4;
}
.productTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .productTitle{
      padding-left: 5px;
  }
  .productTop {
    display: flex;
  }
  
  .productTopLeft,
  .productTopRight {
    flex: 1;
  }
  
  .productTopRight {
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .productInfoImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .productInfoTop {
    display: flex;
    align-items: center;
  }
  
  .productName {
    font-weight: 600;
  }
  
  .productInfoBottom {
    margin-top: 10px;
  }
  
  .productInfoItem {
    width: 150px;
    display: flex;
    justify-content: space-between;
  }
  
  .productInfoValue {
    font-weight: 300;
  }
  
  .productBottom {
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .productForm {
    /* display: flex; */
    justify-content: space-between;
  }
  
  .productFormLeft {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .productdetails{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }
  .productdetails > label {
    
    color: gray;
  }
  
  .productdetails > input {
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
  }
  
  .productdetails >select{
    margin-bottom: 10px;
  }
  
  /* .productFormLeft > label {
    
    color: gray;
  }
  
  .productFormLeft > input {
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
  }
  
  .productFormLeft >select{
    margin-bottom: 10px;
  } */
  
  .productUploadImg{
    width: 230px;
    height: 230px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .productFormRight{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .productUpload{
    display: flex;
    flex-direction: column;
  
  }
  
  .productButton{
    border: none;
    width: 100%;
    padding: 5px;
    margin-top: 25px;
    border-radius: 5px;
    background-color: darkblue;
    color:white;
    font-weight: 600;
    cursor: pointer;
  }
